html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
.required {
  color: brown;
  padding-left: 10px;
}
button {
  cursor: pointer;
}

p,h1, h2, h3 {
  margin: 0;
  padding: 0;
  display: block;
}
/* animation 設定 */
/* @keyframes slidein {
  0%{
    opacity: 0;
    transform:translateY(-150)
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
} */
@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
